html, body, #__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #181717;
}

:root{
  color-scheme: dark;
  scrollbar-color: #0079D3 #2E3645 !important;
  scrollbar-width: thin !important;
}

* {
  scrollbar-width: thin !important;
}

.toast-body {
  white-space: pre;
}